In [11]:
import pandas as pd
titanic = pd.io.parsers.read_csv("SurveyIncomplete.csv")
X = titanic[['salary']]
print(X)

            salary
0     150000.00000
1      82523.83897
2     115646.63620
3     141443.39330
4     149211.27030
5      46202.25297
6     125821.24500
7      20141.13742
8     135261.85140
9      83273.92858
10     51475.90385
11     60787.31789
12     61494.52219
13    125904.77050
14     87232.20095
15     28966.71843
16     82393.18331
17     27724.51808
18     94998.07413
19     56005.11925
20     70241.27167
21     91852.88014
22     47920.93459
23    125879.92630
24    105885.11440
25    140824.94410
26     28483.92748
27     58353.19031
28    116269.45320
29     36971.40098
...            ...
4970   70148.91055
4971   37510.28817
4972   79318.09958
4973   43244.40398
4974   31225.04873
4975   65646.06408
4976  148186.50170
4977  125297.18960
4978   63499.02428
4979   50583.96651
4980  144178.15270
4981   39320.44388
4982   23709.22790
4983   20000.00000
4984  124260.08690
4985  125349.61440
4986  143696.97860
4987   23593.28102
4988  129574.03870
4989  126552.12170
4990  102457.72740
4991  134544.76480
4992  150000.00000
4993   54781.68022
4994   29945.49220
4995   83891.55966
4996  125979.28910
4997   74064.71053
4998  106485.56710
4999   50333.57979

[5000 rows x 1 columns]

Issues I had to Handle?
    
    I needed to install libraries to my jupyter notebook. I have used VS Code before to do pip instal through terminal but not through Jupyter. Instead of creating a new terminal seperately, You can type in "!pip install" instead.

Was it straightforward to install Python and all of the libraries?
    
    Installing Libraries was pretty simple. Pip helped alot in installing the libraries. Interestingly, I can install libraries through Jupyter Notebook by typeing "!pip install" plus library name.

Was the tutorial useful? Would you recommend it to others?

    The Tutorials for Python for dummies was very useful. I would definintely recommend.

What are the main lessons you've learned from this experience?

    Python is very similiar to R but there are a few differences. Simplicity between R and Python are pretty close.
    I learned the differences between different list types(Sets, Tuples and Lists) and Dictionaries.Filtering through these different types of data