In [3]:
!pip install sklearn

Collecting sklearn
  Downloading https://files.pythonhosted.org/packages/1e/7a/dbb3be0ce9bd5c8b7e3d87328e79063f8b263b2b1bfa4774cb1147bfcd3f/sklearn-0.0.tar.gz
Requirement already satisfied: scikit-learn in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: numpy>=1.11.0 in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (from scikit-learn->sklearn) (1.14.3)
Requirement already satisfied: joblib>=0.11 in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (from scikit-learn->sklearn) (0.14.1)
Requirement already satisfied: scipy>=0.17.0 in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1324 sha256=7f02a46f3df986b102796af1ccdb100421c04b7f631cd756f6b39b9a76955716
  Stored in directory: C:\Users\asiddiqui\AppData\Local\pip\Cache\wheels\76\03\bb\589d421d27431bcd2c6da284d5f2286c8e3b2ea3cf1594c074
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0

WARNING: You are using pip version 19.3.1; however, version 20.0.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

# Classfication

In [2]:
#imports
#numpy, pandas, math, math plotlib
import numpy as np
import pandas as pd
import scipy
from math import sqrt
import matplotlib.pyplot as plt

#estimators
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn import linear_model

#model metrics
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score

#cross validation
from sklearn.model_selection import train_test_split

In [3]:
#data
rawData = pd.read_csv('default of credit card clients.csv', header=1)
rawData.head()

rawData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
ID                            30000 non-null int64
LIMIT_BAL                     30000 non-null int64
SEX                           30000 non-null int64
EDUCATION                     30000 non-null int64
MARRIAGE                      30000 non-null int64
AGE                           30000 non-null int64
PAY_0                         30000 non-null int64
PAY_2                         30000 non-null int64
PAY_3                         30000 non-null int64
PAY_4                         30000 non-null int64
PAY_5                         30000 non-null int64
PAY_6                         30000 non-null int64
BILL_AMT1                     30000 non-null int64
BILL_AMT2                     30000 non-null int64
BILL_AMT3                     30000 non-null int64
BILL_AMT4                     30000 non-null int64
BILL_AMT5                     30000 non-null int64
BILL_AMT6                     30000 non-null int64
PAY_AMT1                      30000 non-null int64
PAY_AMT2                      30000 non-null int64
PAY_AMT3                      30000 non-null int64
PAY_AMT4                      30000 non-null int64
PAY_AMT5                      30000 non-null int64
PAY_AMT6                      30000 non-null int64
default payment next month    30000 non-null int64
dtypes: int64(25)
memory usage: 5.7 MB

In [4]:
##--------Classification-----------##

#features
#Remove ID Feature
featuresClass = rawData.iloc[:,1:25]
print('Summary of feature sample')
featuresClass.head()

Summary of feature sample

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [8]:
#dependent variable
depVarClass = rawData['default payment next month']

# Feature Selection

In [9]:
##OOB##
OOB = featuresClass
OOBdepvar = depVarClass

# Training & Testing

In [11]:
###OOB###

#Training Set (Feature Space: X Training)
X_train_OOB = (OOB[: 1000])
X_train_OOB.head()

#Dependent Variable Training Set (y Training)
y_train_OOB = OOBdepvar[: 1000]
y_train_OOB_count = len(y_train_OOB.index)
print('The number of observations in the Y training set are:',str(y_train_OOB_count))
y_train_OOB.head()

#Testing Set (X Testing)
X_test_OOB = OOB[-100:]
X_test_OOB_count = len(X_test_OOB.index)
print('The number of observations in the feature testing set is:',str(X_test_OOB_count))
print(X_test_OOB.head())

#Ground Truth (y_test) 
y_test_OOB = OOBdepvar[-100:]
y_test_OOB_count = len(y_test_OOB.index)
print('The number of observations in the Y training set are:',str(y_test_OOB_count))
y_test_OOB.head()

The number of observations in the Y training set are: 1000
The number of observations in the feature testing set is: 100
       LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  PAY_4  \
29900      20000    1          2         2   29      0      0     -2     -2
29901      50000    1          2         2   29      1      2      0      0
29902     170000    1          3         2   30      0     -1      0      0
29903     260000    1          1         1   30     -1      0     -1     -1
29904      60000    1          3         2   30      0      0      0      0

       PAY_5             ...              BILL_AMT4  BILL_AMT5  BILL_AMT6  \
29900     -2             ...                      0          0          0
29901      0             ...                  50590      50248      49387
29902      0             ...                 161351     126198     124746
29903     -1             ...                     99         99     172104
29904      0             ...                  58732      59306      59728

       PAY_AMT1  PAY_AMT2  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  \
29900         0         0         0         0         0         0
29901         0      6556      3250      1563      1208       781
29902    168096      6409      7335      4448      4519      5003
29903     10018     13333        99        99    172104     30013
29904      2600      4553      5800      2000      1000      1462

       default payment next month
29900                           1
29901                           0
29902                           0
29903                           0
29904                           1

[5 rows x 24 columns]
The number of observations in the Y training set are: 100

29900    1
29901    0
29902    0
29903    0
29904    1
Name: default payment next month, dtype: int64

# Cross Validation

In [12]:
##OOB
from sklearn.model_selection import train_test_split

X_train_OOB, X_test_OOB, y_train_OOB, y_test_OOB = train_test_split(X_train_OOB, y_train_OOB)

# Model Selection

# Model Selection - OOB

In [13]:
#Models
from sklearn.svm import LinearSVC

modelLSVC = LinearSVC()
LinearSVC().get_params()

{'C': 1.0,
 'class_weight': None,
 'dual': True,
 'fit_intercept': True,
 'intercept_scaling': 1,
 'loss': 'squared_hinge',
 'max_iter': 1000,
 'multi_class': 'ovr',
 'penalty': 'l2',
 'random_state': None,
 'tol': 0.0001,
 'verbose': 0}

In [14]:
#Model Fitting Random Forest
modelLSVC.fit(X_train_OOB,y_train_OOB)
print(cross_val_score(modelLSVC, X_train_OOB, y_train_OOB,cv=3))
modelLSVC.score(X_train_OOB,y_train_OOB)

[0.728 0.788 0.764]

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

0.48933333333333334

In [15]:
from sklearn.neighbors import KNeighborsClassifier
modelKNN = KNeighborsClassifier()

In [16]:
#Model Fitting Random Forest
modelKNN.fit(X_train_OOB,y_train_OOB)
print(cross_val_score(modelKNN, X_train_OOB, y_train_OOB,cv=3))
modelKNN.score(X_train_OOB,y_train_OOB)

[0.76  0.724 0.708]

0.8173333333333334

In [17]:
from sklearn.tree import DecisionTreeClassifier
modelDT = DecisionTreeClassifier()

#Model Fitting Random Forest
modelDT.fit(X_train_OOB,y_train_OOB)
print(cross_val_score(modelDT, X_train_OOB, y_train_OOB,cv=3))
modelDT.score(X_train_OOB,y_train_OOB)

[1. 1. 1.]

1.0

# Model Selection - RFE

In [ ]:
from sklearn.svm import SVC
from sklearn.datasets import load_digits
from sklearn.feature_selection import RFE
import matplotlib.pyplot as plt

# Create the RFE object and rank each pixel
svc = SVC(kernel="linear", C=1)
rfe = RFE(estimator=svc, n_features_to_select=1, step=1)
selectedfeatures = rfe.fit(X_train_OOB, y_train_OOB)
ranking = selectedfeatures.ranking

In [ ]:
print(ranking)

# Selected Model KNN

In [46]:
from sklearn.neighbors import KNeighborsClassifier
modelKNN = KNeighborsClassifier()

#Model Fitting Random Forest
modelKNN.fit(X_train_OOB,y_train_OOB)
print(cross_val_score(modelKNN, X_train_OOB, y_train_OOB,cv=3))
modelKNN.score(X_train_OOB,y_train_OOB)

[0.732 0.748 0.756]

0.8226666666666667

In [47]:
modelKNN_5 = KNeighborsClassifier(n_neighbors=3)

modelKNN_5.fit(X_train_OOB,y_train_OOB)
print(cross_val_score(modelKNN_5, X_train_OOB, y_train_OOB,cv=3))
modelKNN_5.score(X_train_OOB,y_train_OOB)

[0.696 0.74  0.716]

0.8453333333333334

In [29]:
modelKNN_5 = KNeighborsClassifier(n_neighbors=6)

modelKNN_5.fit(X_train_OOB,y_train_OOB)
print(cross_val_score(modelKNN_5, X_train_OOB, y_train_OOB,cv=3))
modelKNN_5.score(X_train_OOB,y_train_OOB)

[0.768 0.784 0.788]

0.808

In [48]:
predictions = modelKNN_5.predict(X_test_OOB)

In [51]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from math import sqrt

predRsquared = r2_score(y_test_OOB,predictions)
rmse = sqrt(mean_squared_error(y_test_OOB, predictions))
print('R Squared: %.3f' % predRsquared)
print('RMSE: %.3f' % rmse)

R Squared: -0.673
RMSE: 0.559

In [50]:
#y_test_OOB
X_test_OOB
PredSample = X_test_OOB
PredSample['Pred'] = predictions
#print(PredSample)
PredSample

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month,Pred
935,50000,1,2,2,30,0,0,0,0,-2,...,0,0,2000,1000,0,0,0,0,0,0
20,130000,2,3,2,39,0,0,0,0,0,...,11802,930,3000,1537,1000,2000,930,33764,0,1
691,170000,1,2,2,27,-1,2,2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
970,300000,1,1,1,42,-1,0,0,-1,0,...,19453,10492,20979,5000,37676,8808,2000,2709,1,0
70,80000,1,1,2,31,-1,-1,-1,-1,-1,...,390,390,0,390,390,390,390,390,0,0
673,30000,1,2,2,25,2,2,7,7,7,...,2400,1800,0,0,0,0,0,0,1,0
684,320000,1,1,1,40,0,0,0,0,0,...,229683,235837,10000,10000,10000,19000,13000,8000,0,0
470,390000,2,3,2,35,0,0,0,0,0,...,257496,263018,13802,16525,8893,9229,10000,9435,1,1
718,150000,2,1,1,35,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
483,90000,1,3,1,48,1,2,2,2,2,...,63228,59378,1700,4000,1600,1600,1500,4086,0,0
676,190000,1,2,2,40,2,2,2,2,2,...,165725,169928,15000,6600,6500,6500,7000,7000,1,0
472,180000,1,2,1,34,-1,-1,-1,-1,-1,...,1180,1382,2790,1140,2144,1180,1382,2440,0,0
938,180000,2,2,1,32,1,2,2,2,0,...,18732,23389,0,3000,0,2000,5000,2000,1,1
269,50000,1,2,2,27,3,2,2,0,0,...,14319,2614,1700,0,426,501,2614,1390,1,0
237,210000,2,1,2,31,-2,-2,-2,-2,-1,...,6082,2293,0,7422,893,6082,2293,3299,0,1
297,210000,2,2,1,36,0,0,0,0,0,...,147993,131629,6483,5082,6000,5900,4544,4700,0,1
779,50000,2,2,2,31,1,-2,-1,-1,-1,...,36059,32851,0,190,0,36059,0,2420,0,0
726,360000,2,2,2,39,-1,-1,-1,0,-1,...,5329,998,4484,19623,222,5355,998,9004,0,0
999,120000,1,2,2,25,2,2,0,0,0,...,86434,88802,0,5000,3158,3934,3802,2000,0,0
352,380000,1,1,2,30,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,1,0
817,20000,2,3,2,24,-1,-1,-1,-1,-1,...,8402,6204,507,3042,0,8402,0,4739,0,0
670,30000,2,2,2,34,2,-1,2,2,2,...,37662,36904,33000,33000,5810,1325,0,3095,0,0
474,120000,2,2,1,32,-1,-1,-1,-1,-1,...,0,5930,2682,0,6440,0,5930,5120,0,0
234,60000,2,2,1,33,0,0,0,0,0,...,20175,19421,1506,1298,1000,721,811,599,0,0
216,240000,2,2,1,36,1,-2,-2,-2,-2,...,-946,-946,0,0,0,0,0,0,1,1
294,130000,1,1,2,29,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,1500,0,0
571,50000,2,2,2,23,0,0,0,0,0,...,18305,19013,2040,2766,1690,1000,1000,1000,0,0
931,320000,1,1,1,60,-1,-1,-1,-1,0,...,11741,4317,3465,84440,886,11533,4317,52466,1,0
324,360000,2,2,2,32,0,0,0,0,0,...,100123,100738,10000,7000,10000,10000,10000,10000,0,0
864,200000,1,1,2,32,0,0,0,0,0,...,47459,49666,1739,1756,2662,1726,3000,2500,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,90000,2,2,2,32,-2,-2,-2,-2,-2,...,0,0,157,0,0,0,0,0,0,0
895,200000,1,1,2,31,-2,-2,-2,-2,-2,...,100,100,100,100,100,100,100,100,0,0
440,50000,1,2,2,23,-1,-1,-1,-1,0,...,12645,12584,350,400,1695,11300,485,2400,0,0
395,140000,2,1,2,27,0,0,0,0,0,...,142650,142620,10000,10000,6000,6000,6000,5600,0,0
45,210000,1,1,2,29,-2,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,1,0
232,50000,1,2,1,26,0,0,-2,-1,-1,...,45567,46557,0,0,2624,45567,1747,2000,0,0
453,200000,2,1,2,26,0,0,-2,-2,-2,...,1443,871,179,1443,1443,1443,871,2015,0,0
892,80000,2,2,1,32,0,0,0,0,0,...,0,0,1259,1035,1600,0,0,0,0,0
501,90000,2,2,1,35,1,2,2,2,2,...,31199,30548,0,6000,0,4500,0,2000,0,0
701,200000,2,1,1,27,-1,-1,-1,-1,-1,...,7384,8588,105,105,0,7384,8588,1304,0,0
266,10000,1,3,2,23,0,0,0,0,0,...,9729,9411,1134,1298,478,847,0,175,0,0
881,210000,2,2,1,49,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,1,0
576,270000,2,1,2,28,-1,-1,-1,0,0,...,50565,48888,475,5691,34000,14000,8000,15000,0,0
393,140000,2,2,2,29,0,0,0,0,0,...,21214,21085,3000,3000,3000,3500,2000,2000,0,0
345,160000,2,1,2,29,-1,-1,-2,-1,0,...,6182,1654,0,0,5000,5000,1500,13000,0,0
499,20000,1,1,1,38,0,0,0,2,2,...,20255,19933,1623,3916,750,0,800,850,0,0
816,70000,1,3,1,51,2,2,0,0,0,...,49185,47245,0,2100,1950,1900,2219,2100,1,0
93,160000,2,2,1,37,-1,-1,-1,-1,-1,...,0,0,1602,840,840,0,0,7736,0,0
774,50000,2,1,2,33,-1,2,-1,-1,-1,...,0,0,39,32013,11079,0,0,0,0,0
62,50000,1,1,2,29,2,2,2,2,2,...,27667,28264,0,2700,0,2225,1200,0,1,0
580,30000,1,2,2,28,1,-1,-1,-2,-2,...,0,0,780,0,0,0,0,0,1,0
807,20000,2,3,2,36,0,0,2,2,2,...,20532,19953,2400,1600,0,1600,209,0,1,0
30,230000,2,1,2,27,-1,-1,-1,-1,-1,...,14307,36923,17270,13281,15339,14307,37292,0,0,0
374,180000,1,1,1,46,0,0,0,0,0,...,28089,178719,8100,5299,3305,5040,160719,7000,0,0
218,110000,2,3,0,31,0,0,0,0,0,...,63818,63208,4000,5000,3000,3000,3000,8954,0,0
138,50000,2,3,1,51,-1,-1,-1,-1,-2,...,0,0,300,5880,0,0,0,0,1,0
764,240000,2,2,1,33,0,0,0,0,0,...,238245,233710,10000,11000,10000,10000,10000,8000,0,1
636,50000,2,3,1,49,0,0,0,0,0,...,6941,4756,1107,1000,1000,1500,2150,0,0,0
790,30000,2,2,2,51,1,2,2,0,0,...,26507,27249,1800,0,928,960,1181,967,0,0
61,70000,1,2,1,39,0,0,0,0,0,...,14096,830,4025,2095,1000,2000,3000,0,0,0